.row{"ng-controller" => 'SeoProductsController'}
  .col-sm-3
    .panel.panel-default
      .panel-heading Categories
      .list-group
        - @categories.each do |category|
          %a.list-group-item{:href => "#"}
            = category.name
            %span.badge
              = category.products.count

    .panel.panel-default.ng-cloak{"ng-show" => "selectedProducts().length"}
      .panel-heading Selected products
      .list-group
        .list-group-item{"ng-repeat" => 'product in selectedProducts()'}
          %input{type: "checkbox", "ng-model" => "product.selected"}
          {{product.name}}

  .col-sm-9
    .panel.panel-default
      .panel-heading Products in all categories
      %table.table#products
        %thead
          %tr
            %th
            %th Category
            %th Product name
            %th Description
        %tbody
          - @products.each do |product|
            %tr{"ng-class" => "{active: productById(#{product.id}).selected}"}
              %td
                %input{type: "checkbox", "ng-model" => "productById(#{product.id}).selected"}
              %td= product.category_name
              %td= product.name
              %td= raw product.description
