%div{"ng-app" => "productsApp", "ng-controller" => 'ProductsController'}

  %h1 Products#index

  %div.ng-cloak{"ng-show" => "selectedProducts().length"}
    %h3 Selected products
    %ul
      %li{"ng-repeat" => 'product in selectedProducts()'}
        {{product.name}}

  %table.table#products
    %thead
      %tr
        %th
        %th Category
        %th Product name
        %th Description
    %tbody
      - @products.each do |product|
        %tr{"ng-class" => "{active: productById(#{product.id}).selected}"}
          %td
            %input{type: "checkbox", "ng-model" => "productById(#{product.id}).selected"}
          %td= product.category_name
          %td= product.name
          %td= raw product.description

:coffee
